{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if object %}Edit Event{% else %}Create New Event{% endif %} - Mediterranean College Alumni
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="card-title mb-0">
                    {% if object %}Edit Event: {{ object.title }}{% else %}Create New Event{% endif %}
                </h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            {{ form.title|as_crispy_field }}
                        </div>
                    </div>
                    
                    {{ form.description|as_crispy_field }}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.date|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.location|as_crispy_field }}
                        </div>
                    </div>
                    
                    {{ form.image|as_crispy_field }}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.registration_required|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.registration_deadline|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'alumni:admin_dashboard' %}" class="btn btn-outline-secondary">
                            <i class="fas fa-arrow-left"></i> Back to Dashboard
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> 
                            {% if object %}Update{% else %}Create{% endif %} Event
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}